# Deploying functions

In [80]:
"""
Scaling the OpenFaaS Functions without consumers
Functions:
1.aeneas configured with cpu_thresold=20%
2.getobject configured with 50%
3.tocloud configured with 50%

Metrics collected:
1.Message rate on all the queues
2.CPU requested 
3.CPU used
4.Pod counts
5.Processing Time of the pipeline tasks
"""

'\nScaling the OpenFaaS Functions without consumers\nFunctions:\n1.aeneas configured with cpu_thresold=20%\n2.getobject configured with 50%\n3.tocloud configured with 50%\n\nMetrics collected:\n1.Message rate on all the queues\n2.CPU requested \n3.CPU used\n4.Pod counts\n5.Processing Time of the pipeline tasks\n'

In [90]:
#Reference
#https://docs.openfaas.com/tutorials/kubernetes-hpa/
#!ssh ubuntu@172.17.141.197 "sudo kubectl port-forward -n openfaas svc/gateway 8080:8080 &"
import warnings
warnings.filterwarnings('ignore')

In [1]:
#Deploy function and enable the function auto scaling by openfaas
!ssh ubuntu@172.17.141.197 "cd scalingsdp;faas deploy  -f aeneas.yml  --env max_inflight=10 --annotation topic="aeneas" --label com.openfaas.scale.min=1 --label com.openfaas.scale.max=10"

Deploying: aeneas.

Deployed. 202 Accepted.
URL: http://127.0.0.1:8080/function/aeneas

In [2]:
!ssh ubuntu@172.17.141.197 "cd scalingsdp;faas deploy  -f getobject.yml --label com.openfaas.scale.min=1 --label com.openfaas.scale.max=10;faas deploy  -f rawaeneas.yml --label com.openfaas.scale.min=1 --label com.openfaas.scale.max=10"

Deploying: getobject.

Deployed. 202 Accepted.
URL: http://127.0.0.1:8080/function/getobject

Deploying: rawaeneas.

Deployed. 202 Accepted.
URL: http://127.0.0.1:8080/function/rawaeneas

In [3]:
#Deploy function and enable the function auto scaling by openfaas
!ssh ubuntu@172.17.141.197 "cd scalingsdp;faas deploy  -f scaling-aeneas-tocloud.yml --env max_inflight=50  --label com.openfaas.scale.min=1 --label com.openfaas.scale.max=10;"

Deploying: scaling-aeneas-tocloud.

Deployed. 202 Accepted.
URL: http://127.0.0.1:8080/function/scaling-aeneas-tocloud

In [93]:
!ssh ubuntu@172.17.141.197 "faas describe getobject"

Name:               getobject
Status:             Ready
Replicas:           1
Available Replicas: 1
Invocations:        14017
Image:              shivupoojar/scalinggetobject:latest
Function Process:   python index.py
URL:                http://127.0.0.1:8080/function/getobject
Async URL:          http://127.0.0.1:8080/async-function/getobject
Labels:
 com.openfaas.scale.min: 1
 faas_function: getobject
 uid: 391782603
 com.openfaas.scale.max: 1
Annotations:
 prometheus.io.scrape: false
Requests:  CPU: 500m
 Memory: 128Mi

# Deploying k8s HPA components

In [65]:
!ssh ubuntu@172.17.141.197 "sudo kubectl autoscale deployment -n openfaas-fn aeneas --cpu-percent=50 --min=1 --max=10;sudo kubectl autoscale deployment -n openfaas-fn scaling-aeneas-tocloud --cpu-percent=50 --min=1 --max=10;sudo kubectl autoscale deployment -n openfaas-fn rawaeneas --cpu-percent=50 --min=1 --max=10;"

horizontalpodautoscaler.autoscaling/aeneas autoscaled
horizontalpodautoscaler.autoscaling/scaling-aeneas-tocloud autoscaled
Error from server (AlreadyExists): horizontalpodautoscalers.autoscaling "rawaeneas" already exists

In [208]:
#Check for the created HPA
!ssh ubuntu@172.17.141.197 "sudo kubectl delete hpa/getobject -n openfaas-fn"

horizontalpodautoscaler.autoscaling "getobject" deleted

## Deploying KEDA and components

In [1]:
#Install KEDA 
!ssh ubuntu@172.17.141.197 "sudo kubectl apply -f https://github.com/kedacore/keda/releases/download/v2.9.0/keda-2.9.0.yaml"

namespace/keda unchanged
customresourcedefinition.apiextensions.k8s.io/clustertriggerauthentications.keda.sh unchanged
customresourcedefinition.apiextensions.k8s.io/scaledjobs.keda.sh unchanged
customresourcedefinition.apiextensions.k8s.io/scaledobjects.keda.sh unchanged
customresourcedefinition.apiextensions.k8s.io/triggerauthentications.keda.sh unchanged
serviceaccount/keda-operator unchanged
clusterrole.rbac.authorization.k8s.io/keda-external-metrics-reader unchanged
clusterrole.rbac.authorization.k8s.io/keda-operator configured
rolebinding.rbac.authorization.k8s.io/keda-auth-reader unchanged
clusterrolebinding.rbac.authorization.k8s.io/keda-hpa-controller-external-metrics unchanged
clusterrolebinding.rbac.authorization.k8s.io/keda-operator unchanged
clusterrolebinding.rbac.authorization.k8s.io/keda-system-auth-delegator unchanged
service/keda-metrics-apiserver unchanged
service/keda-operator unchanged
deployment.apps/keda-metrics-apiserver configured
deployment.apps/keda-operator configured
apiservice.apiregistration.k8s.io/v1beta1.external.metrics.k8s.io unchanged

In [2]:
#check for the keda components
!ssh ubuntu@172.17.141.197 "sudo kubectl get po -n keda"

NAME                                      READY   STATUS    RESTARTS         AGE
keda-metrics-apiserver-5b4c56c8c8-k7f2s   1/1     Running   6 (29d ago)      84d
keda-operator-598b95d667-xvd8b            1/1     Running   2591 (29m ago)   84d

In [8]:
#Create Scaler for aeneas consumer 
!ssh ubuntu@172.17.141.197 "cd /home/ubuntu/rabbitmq-testing/sample-go-rabbitmq/deploy;sudo kubectl apply  -f deploy-consumer.yaml"

secret "rabbitmq-consumer-secret" deleted
scaledobject.keda.sh "rabbitmq-connector" deleted
triggerauthentication.keda.sh "rabbitmq-consumer-trigger" deleted

In [7]:
!ssh ubuntu@172.17.141.197 "sudo kubectl get hpa -n openfaas-fn"

No resources found in openfaas-fn namespace.

# Experiments

In [24]:
import sys
import  datetime
import os
from minio import Minio
import csv
import json
import pandas as pd
import time
import subprocess
from subprocess import Popen, PIPE
import requests
from IPython.display import display
import numpy as np

In [25]:
scenario = "no+rps"
user=10
workload='steady'
minio_host="172.17.141.197:9001"
bucket_name="aeneas-output"
PROMETHEUS = 'http://172.17.141.197:30168/'

In [26]:
#Minio Client
client = Minio(minio_host, access_key = "minio", secret_key ="minio123",secure=False)
# List objects from the bicket and notedown time  stamp  when they stored
objects = client.list_objects(bucket_name,recursive=True)
outtime = []
for obj in objects:
    client.remove_object(bucket_name, obj.object_name)

In [27]:
!rm input_data.csv
!touch input_data.csv
!echo "user_id,intime" > input_data.csv

In [28]:
!locust --headless -f k6_locust.py --host='127.0.0.1'

[2023-03-27 19:03:05,481] ubuntu/INFO/locust.runners: Shape test starting. User count and spawn rate are ignored for this type of load test
Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated       0     0(0.00%) |      0       0       0      0 |    0.00        0.00

[2023-03-27 19:03:05,484] ubuntu/INFO/locust.runners: Shape worker starting
[2023-03-27 19:03:05,484] ubuntu/INFO/locust.runners: Shape test updating to 2 users at 2.00 spawn rate
[2023-03-27 19:03:05,485] ubuntu/INFO/locust.runners: Ramping to 2 users at a rate of 2.00 per second
[2023-03-27 19:03:05,486] ubuntu/INFO/locust.runners: All users spawned: {"MyLocust": 2} (2 total users)
[2023-03-27 19:03:05,508] ubuntu/INFO/pika.adapters.utils.connection_workflow: Pika version 1.3.1 connecting to ('172.17.141.197', 5672)
[2023-03-27 19:03:05,509] ubuntu/INFO/pika.adapters.utils.connection_workflow: Pika version 1.3.1 connecting to ('172.17.141.197', 5672)
[2023-03-27 19:03:05,511] ubuntu/INFO/pika.adapters.utils.io_services_utils: Socket connected: <gevent._socket3.socket at 0xffff8345f280 object, fd=10, family=2, type=1, proto=6>
[2023-03-27 19:03:05,512] ubuntu/INFO/pika.adapters.utils.connection_workflow: Streaming transport linked up: (<pika.adapters.utils.io_services_utils._AsyncPlaintextTransport object at 0xffff8343c6a0>, _StreamingProtocolShim: <SelectConnection PROTOCOL transport=<pika.adapters.utils.io_services_utils._AsyncPlaintextTransport object at 0xffff8343c6a0> params=<URLParameters host=172.17.141.197 port=5672 virtual_host=/ ssl=False>>).
[2023-03-27 19:03:05,514] ubuntu/INFO/pika.adapters.utils.io_services_utils: Socket connected: <gevent._socket3.socket at 0xffff8345f340 object, fd=3, family=2, type=1, proto=6>
[2023-03-27 19:03:05,515] ubuntu/INFO/pika.adapters.utils.connection_workflow: Streaming transport linked up: (<pika.adapters.utils.io_services_utils._AsyncPlaintextTransport object at 0xffff8341da90>, _StreamingProtocolShim: <SelectConnection PROTOCOL transport=<pika.adapters.utils.io_services_utils._AsyncPlaintextTransport object at 0xffff8341da90> params=<URLParameters host=172.17.141.197 port=5672 virtual_host=/ ssl=False>>).
[2023-03-27 19:03:05,523] ubuntu/INFO/pika.adapters.utils.connection_workflow: AMQPConnector - reporting success: <SelectConnection OPEN transport=<pika.adapters.utils.io_services_utils._AsyncPlaintextTransport object at 0xffff8343c6a0> params=<URLParameters host=172.17.141.197 port=5672 virtual_host=/ ssl=False>>
[2023-03-27 19:03:05,524] ubuntu/INFO/pika.adapters.utils.connection_workflow: AMQPConnectionWorkflow - reporting success: <SelectConnection OPEN transport=<pika.adapters.utils.io_services_utils._AsyncPlaintextTransport object at 0xffff8343c6a0> params=<URLParameters host=172.17.141.197 port=5672 virtual_host=/ ssl=False>>
[2023-03-27 19:03:05,525] ubuntu/INFO/pika.adapters.blocking_connection: Connection workflow succeeded: <SelectConnection OPEN transport=<pika.adapters.utils.io_services_utils._AsyncPlaintextTransport object at 0xffff8343c6a0> params=<URLParameters host=172.17.141.197 port=5672 virtual_host=/ ssl=False>>
[2023-03-27 19:03:05,526] ubuntu/INFO/pika.adapters.blocking_connection: Created channel=1
[2023-03-27 19:03:05,532] ubuntu/INFO/pika.adapters.utils.connection_workflow: AMQPConnector - reporting success: <SelectConnection OPEN transport=<pika.adapters.utils.io_services_utils._AsyncPlaintextTransport object at 0xffff8341da90> params=<URLParameters host=172.17.141.197 port=5672 virtual_host=/ ssl=False>>
[2023-03-27 19:03:05,532] ubuntu/INFO/pika.adapters.utils.connection_workflow: AMQPConnectionWorkflow - reporting success: <SelectConnection OPEN transport=<pika.adapters.utils.io_services_utils._AsyncPlaintextTransport object at 0xffff8341da90> params=<URLParameters host=172.17.141.197 port=5672 virtual_host=/ ssl=False>>
[2023-03-27 19:03:05,533] ubuntu/INFO/pika.adapters.blocking_connection: Connection workflow succeeded: <SelectConnection OPEN transport=<pika.adapters.utils.io_services_utils._AsyncPlaintextTransport object at 0xffff8341da90> params=<URLParameters host=172.17.141.197 port=5672 virtual_host=/ ssl=False>>
[2023-03-27 19:03:05,534] ubuntu/INFO/pika.adapters.blocking_connection: Created channel=1
Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message       4     0(0.00%) |      2       1       3      2 |    0.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated       4     0(0.00%) |      2       1       3      2 |    0.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message       8     0(0.00%) |      1       1       3      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated       8     0(0.00%) |      1       1       3      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      12     0(0.00%) |      1       1       3      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      12     0(0.00%) |      1       1       3      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      16     0(0.00%) |      1       1       3      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      16     0(0.00%) |      1       1       3      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      20     0(0.00%) |      1       1       3      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      20     0(0.00%) |      1       1       3      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      24     0(0.00%) |      1       1       3      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      24     0(0.00%) |      1       1       3      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      28     0(0.00%) |      1       1       3      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      28     0(0.00%) |      1       1       3      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      32     0(0.00%) |      1       1       3      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      32     0(0.00%) |      1       1       3      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      36     0(0.00%) |      2       1       3      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      36     0(0.00%) |      2       1       3      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      40     0(0.00%) |      2       1       3      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      40     0(0.00%) |      2       1       3      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      44     0(0.00%) |      2       1       3      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      44     0(0.00%) |      2       1       3      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      48     0(0.00%) |      2       1       4      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      48     0(0.00%) |      2       1       4      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      52     0(0.00%) |      2       1       4      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      52     0(0.00%) |      2       1       4      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      56     0(0.00%) |      2       1       4      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      56     0(0.00%) |      2       1       4      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      60     0(0.00%) |      2       1       4      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      60     0(0.00%) |      2       1       4      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      64     0(0.00%) |      2       1       5      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      64     0(0.00%) |      2       1       5      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      68     0(0.00%) |      2       1       5      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      68     0(0.00%) |      2       1       5      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      72     0(0.00%) |      2       1       5      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      72     0(0.00%) |      2       1       5      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      76     0(0.00%) |      2       1       5      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      76     0(0.00%) |      2       1       5      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      80     0(0.00%) |      2       1       5      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      80     0(0.00%) |      2       1       5      2 |    2.00        0.00

Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
BASIC_PUBLISH  test.message      84     0(0.00%) |      2       1       5      2 |    2.00        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated      84     0(0.00%) |      2       1       5      2 |    2.00        0.00

^C
KeyboardInterrupt
2023-03-27T19:03:48Z
Traceback (most recent call last):
  File "/home/ubuntu/.local/bin/locust", line 8, in <module>
    sys.exit(main())
  File "/home/ubuntu/.local/lib/python3.8/site-packages/locust/main.py", line 373, in main
    start_automatic_run()
  File "/home/ubuntu/.local/lib/python3.8/site-packages/locust/main.py", line 357, in start_automatic_run
    environment.runner.shape_greenlet.join()
  File "src/gevent/greenlet.py", line 831, in gevent._gevent_cgreenlet.Greenlet.join
  File "src/gevent/greenlet.py", line 857, in gevent._gevent_cgreenlet.Greenlet.join
  File "src/gevent/greenlet.py", line 846, in gevent._gevent_cgreenlet.Greenlet.join
  File "src/gevent/_greenlet_primitives.py", line 61, in gevent._gevent_c_greenlet_primitives.SwitchOutGreenletWithLoop.switch
  File "src/gevent/_greenlet_primitives.py", line 61, in gevent._gevent_c_greenlet_primitives.SwitchOutGreenletWithLoop.switch
  File "src/gevent/_greenlet_primitives.py", line 65, in gevent._gevent_c_greenlet_primitives.SwitchOutGreenletWithLoop.switch
  File "src/gevent/_gevent_c_greenlet_primitives.pxd", line 35, in gevent._gevent_c_greenlet_primitives._greenlet_switch
KeyboardInterrupt

In [49]:
df= pd.read_csv('input_data.csv')
print(df)

    user_id                      intime
0         2  2023-03-27 19:03:05.531193
1         2  2023-03-27 19:03:05.538719
2         3  2023-03-27 19:03:06.535879
3         4  2023-03-27 19:03:06.540560
4         5  2023-03-27 19:03:07.539363
..      ...                         ...
83       84  2023-03-27 19:03:46.709853
84       85  2023-03-27 19:03:47.713488
85       86  2023-03-27 19:03:47.715136
86       87  2023-03-27 19:03:48.718412
87       88  2023-03-27 19:03:48.720070

[88 rows x 2 columns]

In [50]:
#Minio Client
client = Minio(minio_host, access_key = "minio", secret_key ="minio123",secure=False)
# List objects from the bicket and notedown time  stamp  when they stored
objects = client.list_objects(bucket_name,recursive=True)
outtime = []
for obj in objects:
    data = {"outtime": obj.last_modified,"user_id": int((obj.object_name).split('.')[0])}
    outtime.append(data)#
#    client.remove_object(bucket_name, obj.object_name)

In [51]:
df_minio = pd.DataFrame(outtime)
df_minio
df = pd.merge(df, df_minio, how='inner')
df

    user_id                      intime                          outtime
0        23  2023-03-27 19:03:16.567036 2023-03-27 19:03:41.440000+00:00
1        24  2023-03-27 19:03:16.570340 2023-03-27 19:03:41.373000+00:00
2        25  2023-03-27 19:03:17.569850 2023-03-27 19:03:41.313000+00:00
3        26  2023-03-27 19:03:17.572572 2023-03-27 19:03:45.536000+00:00
4        27  2023-03-27 19:03:18.573460 2023-03-27 19:03:48.813000+00:00
5        28  2023-03-27 19:03:18.575715 2023-03-27 19:03:47.230000+00:00
6        29  2023-03-27 19:03:19.576405 2023-03-27 19:03:49.478000+00:00
7        30  2023-03-27 19:03:19.578304 2023-03-27 19:03:49.645000+00:00
8        31  2023-03-27 19:03:20.578784 2023-03-27 19:03:47.332000+00:00
9        32  2023-03-27 19:03:20.580267 2023-03-27 19:03:49.113000+00:00
10       33  2023-03-27 19:03:21.583074 2023-03-27 19:03:50.247000+00:00
11       34  2023-03-27 19:03:21.584157 2023-03-27 19:03:58.453000+00:00
12       35  2023-03-27 19:03:22.586480 2023-03-27 19:03:58.707000+00:00
13       36  2023-03-27 19:03:22.588019 2023-03-27 19:03:55.313000+00:00
14       37  2023-03-27 19:03:23.591678 2023-03-27 19:03:50.043000+00:00
15       39  2023-03-27 19:03:24.596384 2023-03-27 19:03:59.023000+00:00
16       41  2023-03-27 19:03:25.601097 2023-03-27 19:04:03.577000+00:00
17       43  2023-03-27 19:03:26.605599 2023-03-27 19:04:02.070000+00:00
18       44  2023-03-27 19:03:26.607244 2023-03-27 19:04:03.441000+00:00
19       45  2023-03-27 19:03:27.611027 2023-03-27 19:04:01.892000+00:00
20       46  2023-03-27 19:03:27.612573 2023-03-27 19:04:03.374000+00:00
21       47  2023-03-27 19:03:28.616069 2023-03-27 19:04:02.243000+00:00
22       48  2023-03-27 19:03:28.617387 2023-03-27 19:03:55.431000+00:00
23       49  2023-03-27 19:03:29.621633 2023-03-27 19:04:02.435000+00:00
24       50  2023-03-27 19:03:29.623277 2023-03-27 19:04:01.379000+00:00
25       51  2023-03-27 19:03:30.626107 2023-03-27 19:04:03.816000+00:00
26       52  2023-03-27 19:03:30.627767 2023-03-27 19:03:52.797000+00:00
27       53  2023-03-27 19:03:31.631303 2023-03-27 19:04:13.364000+00:00
28       54  2023-03-27 19:03:31.632866 2023-03-27 19:04:00.662000+00:00
29       55  2023-03-27 19:03:32.636301 2023-03-27 19:04:15.154000+00:00
30       56  2023-03-27 19:03:32.637937 2023-03-27 19:04:15.518000+00:00
31       58  2023-03-27 19:03:33.642824 2023-03-27 19:04:17.192000+00:00
32       59  2023-03-27 19:03:34.645816 2023-03-27 19:04:01.780000+00:00
33       60  2023-03-27 19:03:34.647354 2023-03-27 19:04:13.226000+00:00
34       61  2023-03-27 19:03:35.650434 2023-03-27 19:03:55.792000+00:00
35       62  2023-03-27 19:03:35.652283 2023-03-27 19:04:17.394000+00:00
36       63  2023-03-27 19:03:36.656916 2023-03-27 19:04:15.585000+00:00
37       64  2023-03-27 19:03:36.658401 2023-03-27 19:04:14.699000+00:00
38       65  2023-03-27 19:03:37.661854 2023-03-27 19:04:16.778000+00:00
39       66  2023-03-27 19:03:37.663414 2023-03-27 19:04:22.327000+00:00
40       67  2023-03-27 19:03:38.667188 2023-03-27 19:04:13.526000+00:00
41       68  2023-03-27 19:03:38.668828 2023-03-27 19:03:58.289000+00:00
42       69  2023-03-27 19:03:39.671997 2023-03-27 19:04:05.083000+00:00
43       70  2023-03-27 19:03:39.673728 2023-03-27 19:04:05.784000+00:00
44       71  2023-03-27 19:03:40.677139 2023-03-27 19:04:05.681000+00:00
45       73  2023-03-27 19:03:41.682395 2023-03-27 19:04:10.678000+00:00
46       74  2023-03-27 19:03:41.683951 2023-03-27 19:04:13.930000+00:00
47       75  2023-03-27 19:03:42.687364 2023-03-27 19:04:22.184000+00:00
48       76  2023-03-27 19:03:42.688914 2023-03-27 19:04:04.305000+00:00
49       77  2023-03-27 19:03:43.692632 2023-03-27 19:04:13.665000+00:00
50       78  2023-03-27 19:03:43.694263 2023-03-27 19:04:13.997000+00:00
51       79  2023-03-27 19:03:44.697596 2023-03-27 19:04:13.862000+00:00
52       81  2023-03-27 19:03:45.702305 2023-03-27 19:04:11.396000+00:00
53       82  2023-03-27 19:03:45.704021 2023-03-27 19:04:11.179000+00:00
54       83  2023-03-27 19:03:46.708199 2023-03-27 19:04:04.419000+00:00
55       84  2023-03-27 19:03:46.709853 2023-03-27 19:04:11.474000+00:00
56       85  2023-03-27 19:03:47.713488 2023-03-27 19:04:17.298000+00:00
57       86  2023-03-27 19:03:47.715136 2023-03-27 19:04:19.136000+00:00
58       87  2023-03-27 19:03:48.718412 2023-03-27 19:04:19.353000+00:00
59       88  2023-03-27 19:03:48.720070 2023-03-27 19:04:13.783000+00:00

In [32]:
df['outtime']= pd.to_datetime(df['outtime'],errors='coerce').dt.tz_convert(None)
df['intime']= pd.to_datetime(df['intime'],errors='coerce')
#df =df.sort_values(by="outtime")
display(df.dtypes)
print(df['outtime'].iloc[-1]-df['intime'].iloc[0])

KeyError: 'outtime'

In [36]:
def get_function_execution_time(cmd):
    with Popen(cmd, stdout=PIPE, stderr=None, shell=True) as process:
        return (process.communicate()[0].decode("utf-8"))

In [48]:
#cmd1 = "sudo kubectl logs gateway-7b8d9dbb5b-rhnwl  -n openfaas -c gateway | grep getobject | cut -c 71-77 | tail -"
cmd1="ssh ubuntu@172.17.141.197 "+"sudo kubectl logs gateway-84b77b48c4-k2b64  -n openfaas -c gateway  | grep /function/aeneas |  grep POST |grep 200 | cut -c 68-71 | tail -"+str(len(df.axes[0]))
cmd2="ssh ubuntu@172.17.141.197 "+"sudo kubectl logs gateway-84b77b48c4-k2b64 -n openfaas -c gateway  | grep /function/scaling-aeneas-tocloud |  grep POST |grep 200 |cut -c 84-88 | tail -"+str(len(df.axes[0]))
cmd3="ssh ubuntu@172.17.141.197 "+"sudo kubectl logs gateway-84b77b48c4-k2b64 -n openfaas -c gateway  | grep /function/getobject | grep POST | grep 200 |cut -c 71-75  | tail -"+str(len(df.axes[0]))
cmd4="ssh ubuntu@172.17.141.197 "+"sudo kubectl logs gateway-84b77b48c4-k2b64 -n openfaas -c gateway  | grep /function/rawaeneas | grep POST | grep 200 |cut -c 71-75 | tail -"+str(len(df.axes[0]))
print(cmd2)
df['aeneas']=(get_function_execution_time(cmd1)).split("\n")[:-1]
df['tocloud']=(get_function_execution_time(cmd2)).split("\n")[:-1]
df['getobject']=(get_function_execution_time(cmd3)).split("\n")[:-1]
df['rawaeneas']=((get_function_execution_time(cmd4)).split("\n")[:-1])
df.to_csv('testing.csv')

ssh ubuntu@172.17.141.197 sudo kubectl logs gateway-84b77b48c4-k2b64 -n openfaas -c gateway  | grep /function/scaling-aeneas-tocloud |  grep POST |grep 200 |cut -c 84-88 | tail -2104

In [49]:
df['TPT']=(df['outtime']-df['intime'])
df['TPT']=df['TPT'].values.astype('datetime64[ns]')
df['TPT']= pd.to_datetime(df['TPT']).dt.strftime('%S.%f')
df['TPT']=df['TPT'].astype(float)
df['FET'] = (df['aeneas']).astype(float) + (df['tocloud']).astype(float)
df['Queue time']= ((df['TPT']).astype(float) - df['FET'])
df["scenario"]= ""+str(user)+"_"+scenario
display(df)
df.to_csv(""+scenario+"_"+str(workload)+'.csv')

,user_id,intime,outtime,aeneas,tocloud,getobject,rawaeneas,TPT,FET,Queue time,scenario
0,2,2023-03-27 08:23:22.401023,2023-03-27 08:23:32.616,10.0,0.046,0.054,0.008,10.214977,10.046,0.168977,10_no+rps
1,2,2023-03-27 08:23:22.402590,2023-03-27 08:23:32.616,9.43,0.046,0.057,0.011,10.213410,9.476,0.737410,10_no+rps
2,3,2023-03-27 08:23:23.405198,2023-03-27 08:23:32.990,14.9,0.038,0.087,0.012,9.584802,14.938,-5.353198,10_no+rps
3,4,2023-03-27 08:23:23.406903,2023-03-27 08:23:48.085,15.0,0.036,0.089,0.009,24.678097,15.036,9.642097,10_no+rps
4,5,2023-03-27 08:23:24.410721,2023-03-27 08:23:47.623,15.2,0.041,0.057,0.010,23.212279,15.241,7.971279,10_no+rps
...,...,...,...,...,...,...,...,...,...,...,...
2099,2384,2023-03-27 08:43:19.628426,2023-03-27 08:43:25.038,11.6,0.070,0.220,0.054,5.409574,11.670,-6.260426,10_no+rps
2100,2385,2023-03-27 08:43:20.631030,2023-03-27 08:43:26.274,12.1,0.042,0.040,0.010,5.642970,12.142,-6.499030,10_no+rps
2101,2386,2023-03-27 08:43:20.632588,2023-03-27 08:43:36.650,14.4,0.070,0.036,0.027,16.017412,14.470,1.547412,10_no+rps
2102,2387,2023-03-27 08:43:21.636118,2023-03-27 08:43:36.729,15.8,0.057,0.105,0.013,15.092882,15.857,-0.764118,10_no+rps
2103,2388,2023-03-27 08:43:21.637943,2023-03-27 08:43:24.931,14.9,0.038,0.086,0.024,3.293057,14.938,-11.644943,10_no+rps

In [50]:
df.to_csv(""+scenario+"_"+str(workload)+'.csv')

In [51]:
pre_url = PROMETHEUS + '/api/v1/query_range?query='
timestamp= pd.to_datetime(df['outtime'].iloc[-1], format='%Y-%m-%d %H:%M:%S')
time_interval = (time.mktime(timestamp.timetuple()))
user=df.shape[0]
end=(time.mktime(timestamp.timetuple()))
start_time=pd.to_datetime(df['intime'].iloc[0], format='%Y-%m-%d %H:%M:%S')

start=(time.mktime(start_time.timetuple()))
print(start,end)

1679905402.0 1679906604.0

In [52]:
interval = (df.loc[user-1, 'outtime'] - df.loc[0, 'intime']).total_seconds()
interval= round(interval)

In [53]:
interval= round((df.loc[user-1, 'outtime'] - df.loc[0, 'intime']).total_seconds()) if round((df.loc[user-1, 'outtime'] - df.loc[0, 'intime']).total_seconds()) > 60  else 60
print(interval)

1203

In [48]:
import copy 
def getdataprometheus(url):
    headers= {"Accept": "application/json"}
    res = json.loads(requests.post(url=url, headers=headers).content.decode('utf8', 'ignore'))
    #data2=res.get('data').get('result')[0].get('values')
    data_dict={}
    metric_list = []
    # print(data['data']['result']['values'])
    # exit()
    for i in res['data']['result']:
        for j in i['values']:
            data_dict = copy.deepcopy(i['metric'])
            data_dict['time'] = j[0]
            data_dict['value'] = j[1]
            metric_list.append(data_dict)
    df_metric = pd.DataFrame(metric_list)
    return df_metric

In [55]:
user=df.shape[0]
""""
# Metrics
1. CPU_used (aeneas, getobject,rawaeneas,tocloud,mq_trigger)
2. Memory_used (aeneas, getobject,rawaeneas,tocloud,mq_trigger)
   CPU_requested (aeneas, getobject,rawaeneas,tocloud,mq_trigger)
   Memory_requested (aeneas, getobject,rawaeneas,tocloud,mq_trigger)
3. mq_trigger_concurrency
4. concurrency_functions(aeneas, getobject,rawaeneas,tocloud,mq_trigger)
5. mq_incoming_rate(aeneas,rawaeneas,tocloud)
6. mq_delivery_rate
7. pod counts (aeneas, getobject,rawaeneas,tocloud,mq_trigger)

"""

# promo_metrics = pd.DataFrame(columns=['cpu_used_aeneas','cpu_used_rawaeneas','cpu_used_mq_trigger_aeneas','cpu_used_mq_trigger_tocloud','cpu_used_mq_trigger_rawaeneas','cpu_requested_mq_trigger_aeneas','cpu_requested_mq_trigger_tocloud','cpu_requested_mq_trigger_rawaeneas','cpu_requested_aeneas','cpu_requested_rawaeneas','cpu_requested_tocloud','cpu_requested_mq_trigger',
#                                      'memory_used_mq_trigger_aeneas','memory_used_mq_trigger_tocloud','memory_used_mq_trigger_rawaeneas','memory_requested_mq_trigger_aeneas','memory_requested_mq_trigger_tocloud','memory_requested_mq_trigger_rawaeneas','memory_used_aeneas','memory_used_rawaeneas','memory_used_tocloud','memory_used_mq_trigger','memory_requested_aeneas','memory_requested_rawaeneas','memory_requested_tocloud','memory_requested_mq_trigger',
#                                      'mq_trigger_concurrency_aeneas','mq_trigger_concurrency_rawaeneas','mq_trigger_concurrency_tocloud',
#                                      'function_concurrency_aeneas','function_concurrency_rawaeneas','function_concurrency_getobject','function_concurrency_tocloud',
#                                      'mq_incoming_rate_aeneas','mq_incoming_rate_raw','mq_incoming_rate_tolcoud',
#                                      'mq_delivery_rate_aeneas','mq_delivery_rate_raw','mq_delivery_rate_tolcoud',
#                                      'pod_count_aeneas','pod_count_rawaeneas','pod_count_getobject','pod_count_tolcoud','pod_count_mq_trigger_amqp-connector-aeneas','pod_count_mq_trigger_amqp-connector-tocloud','pod_count_mq_trigger_amqp-connector-rawaeneas'])
promo_metrics = pd.DataFrame()

In [41]:
""""
# Metrics from prometheus
1. CPU_used (aeneas, getobject,rawaeneas,tocloud,mq_trigger)
2. Memory_used (aeneas, getobject,rawaeneas,tocloud,mq_trigger)
3. CPU_requested (aeneas, getobject,rawaeneas,tocloud,mq_trigger)
4. Memory_requested (aeneas, getobject,rawaeneas,tocloud,mq_trigger)
5. pod counts (aeneas, getobject,rawaeneas,tocloud,mq_trigger)
"""
pods = ['aeneas','rawaeneas','getobject','scaling-aeneas-tocloud']
concurreny = [5,50,50,50]
connectors = ['amqp-connector-aeneas','amqp-connector-tocloud','amqp-connector-rawaeneas']

In [42]:
def cpu_metric(metric_type,pod_name,namespace):
    if metric_type == 'requested':
        query = 'sum(kube_pod_container_resource_requests{job="kube-state-metrics", namespace="'+namespace+'", resource="cpu",pod=~"'+pod_name+'.*"''})&start='+str(start)+'&end='+str(end)+'&step=1s'
    else:
        query = 'sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="'+namespace+'",pod=~"'+pod_name+'.*"''}[60s]))&start='+str(start)+'&end='+str(end)+'&step=1s'
    data = getdataprometheus(pre_url+query)
    print(pre_url+query)
    return data

def memory_metric(metric_type,pod_name,namespace):
    if metric_type == 'requested':
        query = 'sum(kube_pod_container_resource_requests{job="kube-state-metrics", namespace="'+namespace+'", resource="memory",pod=~"'+pod_name+'.*"''})&start='+str(start)+'&end='+str(end)+'&step=1s'
    else:
        query = 'sum(rate(container_memory_usage_bytes{container_name!="POD",namespace="'+namespace+'",pod=~"'+pod_name+'.*"''}[60s]))&start='+str(start)+'&end='+str(end)+'&step=1s'
    data = getdataprometheus(pre_url+query)
    return data

def pod_count(pod_name,namespace):
    query = 'sum(kube_pod_container_status_ready{namespace="'+namespace+'",pod=~"'+pod_name+'.*"''})&start='+str(start)+'&end='+str(end)+'&step=1s'
    data = getdataprometheus(pre_url+query)
    return data

In [58]:
promo_metrics['time']= cpu_metric('used','aeneas','openfaas-fn')['time']
empty_array =np.empty(promo_metrics.shape[0])
for i in range(len(pods)):
    con_data = empty_array.fill(concurreny[i])
    promo_metrics['cpu_used_'+pods[i]]= cpu_metric('used',pods[i],'openfaas-fn')['value']
    promo_metrics['cpu_requested_'+pods[i]]= cpu_metric('requested',pods[i],'openfaas-fn')['value']

    promo_metrics['memory_used_'+pods[i]]= memory_metric('used',pods[i],'openfaas-fn')['value']
    promo_metrics['memory_requested_'+pods[i]]= memory_metric('requested',pods[i],'openfaas-fn')['value']    
    
    promo_metrics['pod_count_'+pods[i]]= pod_count(pods[i],'openfaas-fn')['value']
    promo_metrics['mq_trigger_concurrency_'+pods[i]]= empty_array.tolist()

http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas-fn",pod=~"aeneas.*"}[60s]))&start=1679905402.0&end=1679906604.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas-fn",pod=~"aeneas.*"}[60s]))&start=1679905402.0&end=1679906604.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(kube_pod_container_resource_requests{job="kube-state-metrics", namespace="openfaas-fn", resource="cpu",pod=~"aeneas.*"})&start=1679905402.0&end=1679906604.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas-fn",pod=~"rawaeneas.*"}[60s]))&start=1679905402.0&end=1679906604.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(kube_pod_container_resource_requests{job="kube-state-metrics", namespace="openfaas-fn", resource="cpu",pod=~"rawaeneas.*"})&start=1679905402.0&end=1679906604.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas-fn",pod=~"getobject.*"}[60s]))&start=1679905402.0&end=1679906604.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(kube_pod_container_resource_requests{job="kube-state-metrics", namespace="openfaas-fn", resource="cpu",pod=~"getobject.*"})&start=1679905402.0&end=1679906604.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas-fn",pod=~"scaling-aeneas-tocloud.*"}[60s]))&start=1679905402.0&end=1679906604.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(kube_pod_container_resource_requests{job="kube-state-metrics", namespace="openfaas-fn", resource="cpu",pod=~"scaling-aeneas-tocloud.*"})&start=1679905402.0&end=1679906604.0&step=1s

In [59]:
for i in range(len(connectors)):
    promo_metrics['cpu_used_mq_trigger_'+connectors[i]]= cpu_metric('used',connectors[i],'openfaas')['value']
  #  promo_metrics['cpu_requested_'+connectors[i]]= cpu_metric('requested',connectors[i],'openfaas')['value']

    promo_metrics['memory_used_mq_trigger_'+connectors[i]]= memory_metric('used',connectors[i],'openfaas')['value']
#    promo_metrics['memory_requested_'+connectors[i]]= memory_metric('requested',connectors[i],'openfaas')['value']    
    
    promo_metrics['pod_count_mq_trigger_'+connectors[i]]= pod_count(connectors[i],'openfaas')['value']
    
display(promo_metrics)

http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas",pod=~"amqp-connector-aeneas.*"}[60s]))&start=1679905402.0&end=1679906604.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas",pod=~"amqp-connector-tocloud.*"}[60s]))&start=1679905402.0&end=1679906604.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas",pod=~"amqp-connector-rawaeneas.*"}[60s]))&start=1679905402.0&end=1679906604.0&step=1s

,time,cpu_used_aeneas,cpu_requested_aeneas,memory_used_aeneas,memory_requested_aeneas,pod_count_aeneas,mq_trigger_concurrency_aeneas,cpu_used_rawaeneas,cpu_requested_rawaeneas,memory_used_rawaeneas,...,mq_trigger_concurrency_scaling-aeneas-tocloud,cpu_used_mq_trigger_amqp-connector-aeneas,memory_used_mq_trigger_amqp-connector-aeneas,pod_count_mq_trigger_amqp-connector-aeneas,cpu_used_mq_trigger_amqp-connector-tocloud,memory_used_mq_trigger_amqp-connector-tocloud,pod_count_mq_trigger_amqp-connector-tocloud,cpu_used_mq_trigger_amqp-connector-rawaeneas,memory_used_mq_trigger_amqp-connector-rawaeneas,pod_count_mq_trigger_amqp-connector-rawaeneas
0,1679905402,0.008778988726700807,0.5,0,52428800,1,5.0,0.01159924248213242,0.05,1087.2331356965715,...,50.0,0.002348756690152489,16476.961007998685,1,0.0019702925996856963,605.0533110814176,1,0.004707186623302568,1261.0886296591266,1
1,1679905403,0.0076242985942492755,0.5,0,52428800,1,5.0,0.01159924248213242,0.05,1087.2331356965715,...,50.0,0.002328425242295234,16312.643773596159,1,0.0019702925996856963,605.0533110814176,1,0.00472545389642648,1264.662800688795,1
2,1679905404,0.05315127697406106,0.5,140444.44444444444,52428800,1,5.0,0.01159924248213242,0.05,1087.2331356965715,...,50.0,0.002308093794437979,16148.326539193635,1,0.0019702925996856963,605.0533110814176,1,0.004743721169550392,1268.2369717184633,1
3,1679905405,0.053184650393745,0.5,140444.44444444444,52428800,1,5.0,0.01159924248213242,0.05,1087.2331356965715,...,50.0,0.0022877623465807242,15984.00930479111,1,0.0019702925996856963,605.0533110814176,1,0.004761988442674304,1271.8111427481317,1
4,1679905406,0.05321802381342894,0.5,140444.44444444444,52428800,1,5.0,0.01159924248213242,0.05,1087.2331356965715,...,50.0,0.0022674308987234693,15819.692070388583,1,0.0019702925996856963,605.0533110814176,1,0.014017269568794564,2261363.980705606,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1198,1679906600,27.72663621027491,5,208593433.80235958,524288000,9,5.0,0.17090140808682505,0.49999999999999994,19731360.130248353,...,50.0,0.0854406243292544,47596.59801019734,1,0.10087655130351275,3768523.825658885,1,0.12168218392575172,7604574.735834154,1
1199,1679906601,26.1864782651557,5,214116194.44014812,524288000,9,5.0,0.1686594492313757,0.49999999999999994,18723310.713584695,...,50.0,0.0854406243292544,47596.59801019734,1,NaN,NaN,1,0.12210904594551769,7639002.77742955,1
1200,1679906602,27.101700775422138,5,210287568.1301176,524288000,9,5.0,0.17185365477347372,0.49999999999999994,18840747.311384015,...,50.0,0.0854406243292544,47596.59801019734,1,NaN,NaN,1,0.12253590796528366,7673430.819024945,1
1201,1679906603,25.049484918699704,5,209758717.4361416,524288000,9,5.0,0.17993650642827688,0.49999999999999994,18578696.806073897,...,50.0,0.0854406243292544,47596.59801019734,1,NaN,NaN,1,0.1229627699850496,7707858.86062034,1
1202,1679906604,24.300316109651067,5,209263968.75031364,524288000,9,5.0,0.17975167606585746,0.49999999999999994,18718199.284404267,...,50.0,0.0854406243292544,47596.59801019734,1,NaN,NaN,1,0.12929313373817877,7742286.902215735,1

In [60]:
"""
5. mq_incoming_rate(aeneas,rawaeneas,tocloud)
6. mq_delivery_rate(aeneas,rawaeneas,tocloud)
"""

'\n5. mq_incoming_rate(aeneas,rawaeneas,tocloud)\n6. mq_delivery_rate(aeneas,rawaeneas,tocloud)\n'

In [61]:
import copy 
def getrabbitmq(url):
    headers= {"Accept": "application/json"}
    res = json.loads(requests.post(url=url, headers=headers).content.decode('utf8', 'ignore'))
    #data2=res.get('data').get('result')[0].get('values')
    data_dict={}
    metric_list = []
    # print(data['data']['result']['values'])
    # exit()
    for i in res['data']['result']:
        for j in i['values']:
            data_dict = copy.deepcopy(i['metric'])
            data_dict['time'] = j[0]
            data_dict['value'] = j[1]
            metric_list.append(data_dict)
    df_metric = pd.DataFrame(metric_list)
    return df_metric

In [62]:
def queueLenth(interval,queue):
    url = 'http://guest:guest@172.17.141.197:15672/api/queues/%2F/'+queue+'?lengths_age='+str(interval)+'&lengths_incr=1'
    res =json.loads(requests.get(url=url).content.decode('utf8', 'ignore'))['messages_details']['samples']
    df_metric = pd.DataFrame(res)
    return df_metric

interval = (df.loc[user-1, 'outtime'] - df.loc[0, 'intime']).total_seconds()
interval= round(interval)

queues = ['aeneas','raw','tocloud']
for i in range(len(queues)):
    data = queueLenth(interval,queues[i])
    data = data['sample']
    data = data.groupby(np.arange(len(data)) // 3).mean()
    promo_metrics['queue_length_'+queues[i]] = data
        
lengths_age = timestamp-start_time
print(lengths_age)

KeyError: 'messages_details'

In [63]:
promo_metrics['throughput']= getdataprometheus('http://172.17.141.197:31376/api/v1/query_range?query=sum (rate(gateway_function_invocation_total{code="200"}[20s]))&start='+str(start)+'&end='+str(end)+'&step=1s')['value']

In [64]:
promo_metrics.to_csv("promo_metrics"+workload+"_"+scenario+".csv",index=False)

In [65]:
 # Getting prometheus metrics 
expr_namespace_cpu_requested = 'sum(kube_pod_container_resource_requests{job="kube-state-metrics", namespace="openfaas-fn", resource="cpu"})&start='+str(start)+'&end='+str(end)+'&step=10s'
promo_metrics['cpu_requested']=getdataprometheus(pre_url+expr_namespace_cpu_requested)['value']

promo_metrics['time']=getdataprometheus(pre_url+expr_namespace_cpu_requested)['time']
expr_namespace_cpu_used = 'sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas-fn"}[60s]))&start='+str(start)+'&end='+str(end)+'&step=10s'
promo_metrics['cpu_used']=getdataprometheus(pre_url+expr_namespace_cpu_used)['value']

expr_namespace_pod_count = 'sum(kube_pod_container_status_ready{namespace="openfaas-fn"})&start='+str(start)+'&end='+str(end)+'&step=10s'
promo_metrics['pod_count']=getdataprometheus(pre_url+expr_namespace_pod_count)['value']

expr_namespace_memory_used = 'sum(rate(container_memory_usage_bytes{container_name!="POD",namespace="openfaas-fn"}[60s]))&start='+str(start)+'&end='+str(end)+'&step=10s'
promo_metrics['memory_used']=getdataprometheus(pre_url+expr_namespace_memory_used)['value']

expr_namespace_memory_requested = 'sum(rate(container_memory_working_set_bytes{container_name!="POD",namespace="openfaas-fn"}[60s]))&start='+str(start)+'&end='+str(end)+'&step=10s'
promo_metrics['memory_used']=getdataprometheus(pre_url+expr_namespace_memory_requested)['value']

promo_metrics['time']= pd.to_datetime(promo_metrics['time'],unit='s')
seconds = []
for i in range(promo_metrics.shape[0]): 
    seconds.append(i*10)
promo_metrics['seconds'] = seconds

throughput_qurty = 'sum (rate(gateway_function_invocation_total{code="200"}[10s]))'

# Getting openfaas metrics 
promo_metrics['throughput']= getdataprometheus('http://172.17.141.197:31376/api/v1/query_range?query=sum (rate(gateway_function_invocation_total{code="200"}[20s]))&start='+str(start)+'&end='+str(end)+'&step=10s')['value']
promo_metrics.to_csv("promo_metrics_functions_only_k8s_hpa.csv",index=False)

In [358]:
!ssh ubuntu@172.17.141.197 "sudo kubectl get hpa -n openfaas-fn"

NAME                     REFERENCE                           TARGETS   MINPODS   MAXPODS   REPLICAS   AGE
rawaeneas                Deployment/rawaeneas                4%/50%    1         10        1          9h
scaling-aeneas-tocloud   Deployment/scaling-aeneas-tocloud   2%/50%    1         10        1          9h

In [359]:
!ssh ubuntu@172.17.141.197 "sudo kubectl delete hpa/pubrabbitmq  -n openfaas-fn;sudo kubectl delete hpa/aeneas  -n openfaas-fn;sudo kubectl delete hpa/rabbitmq-connector -n openfaas;sudo kubectl delete hpa/getobject  -n openfaas-fn;sudo kubectl delete hpa/scaling-aeneas-tocloud  -n openfaas-fn"

Error from server (NotFound): horizontalpodautoscalers.autoscaling "pubrabbitmq" not found
Error from server (NotFound): horizontalpodautoscalers.autoscaling "aeneas" not found
Error from server (NotFound): horizontalpodautoscalers.autoscaling "rabbitmq-connector" not found
Error from server (NotFound): horizontalpodautoscalers.autoscaling "getobject" not found
horizontalpodautoscaler.autoscaling "scaling-aeneas-tocloud" deleted

In [52]:
approach = 'no+keda'
def readMinio():
    client = Minio(minio_host, access_key = "minio", secret_key ="minio123",secure=False)
    objects = client.list_objects(bucket_name,recursive=True)
    outtime = []
    for obj in objects:
        data = {"outtime": obj.last_modified,"user_id": int((obj.object_name).split('.')[0])}
        outtime.append(data)
    return outtime


success_data_dic = {'approach':approach,"total_users":df.axes[0]} 


df_minio = pd.DataFrame(readMinio())


df = pd.merge(df, df_minio, how='inner')
# Commands for FET
cmd1="ssh ubuntu@172.17.141.197 "+"sudo kubectl logs gateway-84b77b48c4-k2b64  -n openfaas -c gateway  | grep /function/aeneas |  grep POST |grep 200 | cut -c 68-71 | tail -"+str(len(df.axes[0]))
cmd2="ssh ubuntu@172.17.141.197 "+"sudo kubectl logs gateway-84b77b48c4-k2b64 -n openfaas -c gateway  | grep /function/scaling-aeneas-tocloud |  grep POST |grep 200 |cut -c 84-88 | tail -"+str(len(df.axes[0]))
cmd3="ssh ubuntu@172.17.141.197 "+"sudo kubectl logs gateway-84b77b48c4-k2b64 -n openfaas -c gateway  | grep /function/getobject | grep POST | grep 200 |cut -c 71-75  | tail -"+str(len(df.axes[0]))
cmd4="ssh ubuntu@172.17.141.197 "+"sudo kubectl logs gateway-84b77b48c4-k2b64 -n openfaas -c gateway  | grep /function/rawaeneas | grep POST | grep 200 |cut -c 71-75 | tail -"+str(len(df.axes[0]))


df['outtime']= pd.to_datetime(df['outtime'],errors='coerce').dt.tz_convert(None)
#df_minio['outtime'] = df_minio.replace(tzinfo=None)
#df = pd.merge(df, df_minio, how='inner')

df['intime']= pd.to_datetime(df['intime'],errors='coerce')
df['aeneas']=(get_function_execution_time(cmd1)).split("\n")[:-1]
df['tocloud']=(get_function_execution_time(cmd2)).split("\n")[:-1]
df['getobject']=(get_function_execution_time(cmd3)).split("\n")[:-1]
df['rawaeneas']=((get_function_execution_time(cmd4)).split("\n")[:-1])

print(df)

df['TPT']=(df['outtime']-df['intime'])
df['TPT']=df['TPT'].values.astype('datetime64[ns]')
df['TPT']= pd.to_datetime(df['TPT']).dt.strftime('%S.%f')
df['TPT']=df['TPT'].astype(float)
df['FET'] = (df['aeneas']).astype(float) + (df['tocloud']).astype(float) +(df['rawaeneas']).astype(float)+(df['getobject']).astype(float)
df['Queue time']= ((df['TPT']).astype(float) - df['FET'])
df["scenario"]= approach

df.to_csv("procTime"+approach+'.csv')

pre_url = PROMETHEUS + '/api/v1/query_range?query='
timestamp= pd.to_datetime(df['outtime'].iloc[-1], format='%Y-%m-%d %H:%M:%S')
time_interval = (time.mktime(timestamp.timetuple()))
user=df.shape[0]
end=(time.mktime(timestamp.timetuple()))
start_time=pd.to_datetime(df['intime'].iloc[0], format='%Y-%m-%d %H:%M:%S')

start=(time.mktime(start_time.timetuple()))


interval = (df.loc[user-1, 'outtime'] - df.loc[0, 'intime']).total_seconds()
interval= round(interval)

user=df.shape[0]

promo_metrics = pd.DataFrame()

pods = ['aeneas','rawaeneas','getobject','scaling-aeneas-tocloud']
concurreny = [3,50,50,50]
connectors = ['amqp-connector-aeneas','amqp-connector-tocloud','amqp-connector-rawaeneas']

promo_metrics['time']= cpu_metric('used','aeneas','openfaas-fn')['time']
empty_array =np.empty(promo_metrics.shape[0])
for i in range(len(pods)):
   con_data = empty_array.fill(concurreny[i])
   promo_metrics['cpu_used_'+pods[i]]= cpu_metric('used',pods[i],'openfaas-fn')['value']
   promo_metrics['cpu_requested_'+pods[i]]= cpu_metric('requested',pods[i],'openfaas-fn')['value']

   promo_metrics['memory_used_'+pods[i]]= memory_metric('used',pods[i],'openfaas-fn')['value']
   promo_metrics['memory_requested_'+pods[i]]= memory_metric('requested',pods[i],'openfaas-fn')['value']    

   promo_metrics['pod_count_'+pods[i]]= pod_count(pods[i],'openfaas-fn')['value']
   promo_metrics['mq_trigger_concurrency_'+pods[i]]= empty_array.tolist()  

for i in range(len(connectors)):
   promo_metrics['cpu_used_mq_trigger_'+connectors[i]]= cpu_metric('used',connectors[i],'openfaas')['value']
 #  promo_metrics['cpu_requested_'+connectors[i]]= cpu_metric('requested',connectors[i],'openfaas')['value']

   promo_metrics['memory_used_mq_trigger_'+connectors[i]]= memory_metric('used',connectors[i],'openfaas')['value']
#    promo_metrics['memory_requested_'+connectors[i]]= memory_metric('requested',connectors[i],'openfaas')['value']    

   promo_metrics['pod_count_mq_trigger_'+connectors[i]]= pod_count(connectors[i],'openfaas')['value']

display(promo_metrics)

promo_metrics['throughput']= getdataprometheus('http://172.17.141.197:31376/api/v1/query_range?query=sum (rate(gateway_function_invocation_total{code="200"}[20s]))&start='+str(start)+'&end='+str(end)+'&step=1s')['value']

promo_metrics.to_csv("promo_metrics_"+approach+".csv",index=False)
success_data_dic['processed_users']=df.axes[0] 
success_rate.append(success_data_dic, ignore_index=True)

    user_id                     intime                 outtime aeneas tocloud  \
0        23 2023-03-27 19:03:16.567036 2023-03-27 19:03:41.440   14.6   0.047
1        24 2023-03-27 19:03:16.570340 2023-03-27 19:03:41.373   14.6   0.037
2        25 2023-03-27 19:03:17.569850 2023-03-27 19:03:41.313   9.61   0.043
3        26 2023-03-27 19:03:17.572572 2023-03-27 19:03:45.536   10.0   1.650
4        27 2023-03-27 19:03:18.573460 2023-03-27 19:03:48.813   9.92   0.057
5        28 2023-03-27 19:03:18.575715 2023-03-27 19:03:47.230   12.9   0.288
6        29 2023-03-27 19:03:19.576405 2023-03-27 19:03:49.478   13.0   0.075
7        30 2023-03-27 19:03:19.578304 2023-03-27 19:03:49.645   13.4   0.280
8        31 2023-03-27 19:03:20.578784 2023-03-27 19:03:47.332   13.5   0.075
9        32 2023-03-27 19:03:20.580267 2023-03-27 19:03:49.113   3.94   0.052
10       33 2023-03-27 19:03:21.583074 2023-03-27 19:03:50.247   4.57   0.065
11       34 2023-03-27 19:03:21.584157 2023-03-27 19:03:58.453   3.16   0.084
12       35 2023-03-27 19:03:22.586480 2023-03-27 19:03:58.707   9.28   0.096
13       36 2023-03-27 19:03:22.588019 2023-03-27 19:03:55.313   5.91   0.088
14       37 2023-03-27 19:03:23.591678 2023-03-27 19:03:50.043   2.96   0.042
15       39 2023-03-27 19:03:24.596384 2023-03-27 19:03:59.023   2.82   0.071
16       41 2023-03-27 19:03:25.601097 2023-03-27 19:04:03.577   12.9   0.075
17       43 2023-03-27 19:03:26.605599 2023-03-27 19:04:02.070   13.1   0.037
18       44 2023-03-27 19:03:26.607244 2023-03-27 19:04:03.441   12.9   0.076
19       45 2023-03-27 19:03:27.611027 2023-03-27 19:04:01.892   10.4   0.060
20       46 2023-03-27 19:03:27.612573 2023-03-27 19:04:03.374   11.8   0.047
21       47 2023-03-27 19:03:28.616069 2023-03-27 19:04:02.243   11.5   0.052
22       48 2023-03-27 19:03:28.617387 2023-03-27 19:03:55.431   12.7   0.091
23       49 2023-03-27 19:03:29.621633 2023-03-27 19:04:02.435   13.0   0.067
24       50 2023-03-27 19:03:29.623277 2023-03-27 19:04:01.379   12.7   0.074
25       51 2023-03-27 19:03:30.626107 2023-03-27 19:04:03.816   11.7   0.073
26       52 2023-03-27 19:03:30.627767 2023-03-27 19:03:52.797   12.4   0.061
27       53 2023-03-27 19:03:31.631303 2023-03-27 19:04:13.364   14.2   0.044
28       54 2023-03-27 19:03:31.632866 2023-03-27 19:04:00.662   14.5   0.035
29       55 2023-03-27 19:03:32.636301 2023-03-27 19:04:15.154   14.7   0.050
30       56 2023-03-27 19:03:32.637937 2023-03-27 19:04:15.518   14.1   0.068
31       58 2023-03-27 19:03:33.642824 2023-03-27 19:04:17.192   5.81   0.063
32       59 2023-03-27 19:03:34.645816 2023-03-27 19:04:01.780   5.63   0.054
33       60 2023-03-27 19:03:34.647354 2023-03-27 19:04:13.226   9.23   0.063
34       61 2023-03-27 19:03:35.650434 2023-03-27 19:03:55.792   9.79   0.076
35       62 2023-03-27 19:03:35.652283 2023-03-27 19:04:17.394   9.79   0.092
36       63 2023-03-27 19:03:36.656916 2023-03-27 19:04:15.585   12.3   0.054
37       64 2023-03-27 19:03:36.658401 2023-03-27 19:04:14.699   12.3   0.053
38       65 2023-03-27 19:03:37.661854 2023-03-27 19:04:16.778   12.6   0.052
39       66 2023-03-27 19:03:37.663414 2023-03-27 19:04:22.327   12.6   0.050
40       67 2023-03-27 19:03:38.667188 2023-03-27 19:04:13.526   20.3   0.036
41       68 2023-03-27 19:03:38.668828 2023-03-27 19:03:58.289   23.7   0.049
42       69 2023-03-27 19:03:39.671997 2023-03-27 19:04:05.083   18.0   0.045
43       70 2023-03-27 19:03:39.673728 2023-03-27 19:04:05.784   15.1   0.040
44       71 2023-03-27 19:03:40.677139 2023-03-27 19:04:05.681   13.0   0.037
45       73 2023-03-27 19:03:41.682395 2023-03-27 19:04:10.678   15.0   0.049
46       74 2023-03-27 19:03:41.683951 2023-03-27 19:04:13.930   15.5   0.037
47       75 2023-03-27 19:03:42.687364 2023-03-27 19:04:22.184   15.4   0.039
48       76 2023-03-27 19:03:42.688914 2023-03-27 19:04:04.305   19.3   0.043
49       77 2023-03-27 19:03:43.692632 2023-03-27 19:04:13.665   24.9   0.037
50       78 2023-03-27 19:03:43.694263 2023-03-27 19:04:13.997   25.2   0.061
51       79 2023-03-27 19:03:44.697596 2023-03-27 19:04:13.862   20.1   0.048
52       81 2023-03-27 19:03:45.702305 2023-03-27 19:04:11.396   21.4   0.068
53       82 2023-03-27 19:03:45.704021 2023-03-27 19:04:11.179   26.9   0.049
54       83 2023-03-27 19:03:46.708199 2023-03-27 19:04:04.419   18.1   0.079
55       84 2023-03-27 19:03:46.709853 2023-03-27 19:04:11.474   24.4   0.061
56       85 2023-03-27 19:03:47.713488 2023-03-27 19:04:17.298   20.0   0.041
57       86 2023-03-27 19:03:47.715136 2023-03-27 19:04:19.136   20.3   0.033
58       87 2023-03-27 19:03:48.718412 2023-03-27 19:04:19.353   23.8   0.036
59       88 2023-03-27 19:03:48.720070 2023-03-27 19:04:13.783   26.8   0.038

   getobject rawaeneas
0      0.047     0.010
1      0.131     0.009
2      0.041     0.012
3      0.071     0.008
4      0.045     0.010
5      0.052     0.009
6      0.055     0.008
7      0.083     0.008
8      0.122     0.010
9      0.128     0.007
10     0.067     0.009
11     0.085     0.007
12     0.039     0.008
13     0.096     0.010
14     0.172     0.010
15     0.052     0.015
16     0.075     0.022
17     0.059     0.011
18     0.073     0.016
19     0.105     0.012
20     0.135     0.010
21     0.063     0.010
22     0.128     0.009
23     0.150     0.008
24     0.189     0.009
25     0.133     0.011
26     1.424     0.009
27     0.126     0.010
28     0.039     0.010
29     0.045     0.012
30     0.092     0.010
31     0.207     0.008
32     0.066     0.011
33     0.085     0.015
34     0.053     0.011
35     0.093     0.017
36     0.060     0.036
37     0.123     0.051
38     0.252     0.010
39     0.184     0.009
40     0.227     0.009
41     0.883     0.013
42     0.298     0.013
43     0.291     0.009
44     0.047     0.014
45     0.043     0.007
46     0.045     0.029
47     0.146     0.060
48     0.346     0.009
49     0.090     0.011
50     0.059     0.008
51     0.086     0.012
52     0.183     0.012
53     0.184     0.013
54     0.215     0.012
55     0.143     0.009
56     0.298     0.011
57     0.297     0.008
58     0.381     0.016
59     0.380     0.014
http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas-fn",pod=~"aeneas.*"}[60s]))&start=1679943796.0&end=1679943853.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas-fn",pod=~"aeneas.*"}[60s]))&start=1679943796.0&end=1679943853.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(kube_pod_container_resource_requests{job="kube-state-metrics", namespace="openfaas-fn", resource="cpu",pod=~"aeneas.*"})&start=1679943796.0&end=1679943853.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas-fn",pod=~"rawaeneas.*"}[60s]))&start=1679943796.0&end=1679943853.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(kube_pod_container_resource_requests{job="kube-state-metrics", namespace="openfaas-fn", resource="cpu",pod=~"rawaeneas.*"})&start=1679943796.0&end=1679943853.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas-fn",pod=~"getobject.*"}[60s]))&start=1679943796.0&end=1679943853.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(kube_pod_container_resource_requests{job="kube-state-metrics", namespace="openfaas-fn", resource="cpu",pod=~"getobject.*"})&start=1679943796.0&end=1679943853.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas-fn",pod=~"scaling-aeneas-tocloud.*"}[60s]))&start=1679943796.0&end=1679943853.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(kube_pod_container_resource_requests{job="kube-state-metrics", namespace="openfaas-fn", resource="cpu",pod=~"scaling-aeneas-tocloud.*"})&start=1679943796.0&end=1679943853.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas",pod=~"amqp-connector-aeneas.*"}[60s]))&start=1679943796.0&end=1679943853.0&step=1s
http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas",pod=~"amqp-connector-tocloud.*"}[60s]))&start=1679943796.0&end=1679943853.0&step=1s

http://172.17.141.197:30168//api/v1/query_range?query=sum(rate(container_cpu_usage_seconds_total{container_name!="POD",namespace="openfaas",pod=~"amqp-connector-rawaeneas.*"}[60s]))&start=1679943796.0&end=1679943853.0&step=1s

,time,cpu_used_aeneas,cpu_requested_aeneas,memory_used_aeneas,memory_requested_aeneas,pod_count_aeneas,mq_trigger_concurrency_aeneas,cpu_used_rawaeneas,cpu_requested_rawaeneas,memory_used_rawaeneas,...,mq_trigger_concurrency_scaling-aeneas-tocloud,cpu_used_mq_trigger_amqp-connector-aeneas,memory_used_mq_trigger_amqp-connector-aeneas,pod_count_mq_trigger_amqp-connector-aeneas,cpu_used_mq_trigger_amqp-connector-tocloud,memory_used_mq_trigger_amqp-connector-tocloud,pod_count_mq_trigger_amqp-connector-tocloud,cpu_used_mq_trigger_amqp-connector-rawaeneas,memory_used_mq_trigger_amqp-connector-rawaeneas,pod_count_mq_trigger_amqp-connector-rawaeneas
0,1679943825,0.00006749234806837307,2,659272.3936075452,209715200,4,3.0,0.08953804184953873,0.05,547283.0052465897,...,50.0,0.0014489506956984952,0,1,0.001329001271623277,0,1,0.0033908090396052417,0,1
1,1679943826,0.00007019344656232485,2,702115.6736704218,209715200,4,3.0,0.09286749394994653,0.05,582164.0125918153,...,50.0,0.0014489506956984952,0,1,0.001329001271623277,0,1,0.015356789591344098,11144.866293296272,1
2,1679943827,0.00007289454505627663,2,761766.6795684343,209715200,4,3.0,0.09628716012566399,0.05,617045.0199370409,...,50.0,0.0014489506956984952,0,1,0.001329001271623277,0,1,0.015356789591344098,11144.866293296272,1
3,1679943828,0.00007559564355022842,2,805282.6184473006,209715200,4,3.0,0.10534339104972144,0.05,651926.0272822665,...,50.0,0.0014489506956984952,0,1,0.001329001271623277,0,1,0.01518726865035987,11144.866293296272,1
4,1679943829,0.00007829674204418018,2,848798.557326167,209715200,4,3.0,0.108887353350663,0.05,686807.0346274921,...,50.0,0.0014489506956984952,0,1,0.001329001271623277,0,1,0.015175989061499386,11144.866293296272,1
5,1679943830,0.21948350594349808,2,892314.4962050333,209715200,4,3.0,0.11249634391130361,0.05,721688.0419727177,...,50.0,0.0014489506956984952,0,1,0.001329001271623277,0,1,0.015164709472638899,11144.866293296272,1
6,1679943831,0.23058445777164868,2,935830.4350838996,209715200,4,3.0,0.11604199633348333,0.05,2166049.7524259924,...,50.0,0.0014489506956984952,0,1,0.001329001271623277,0,1,0.015153429883778415,11144.866293296272,1
7,1679943832,0.24168540959979923,2,3026020.062755171,209715200,4,3.0,0.11958764875566308,0.05,2251009.739855947,...,50.0,0.0014489506956984952,0,1,0.001329001271623277,0,1,0.03581165554192436,23126.877525539516,1
8,1679943833,0.2527863614279498,2,3171045.0452411426,209715200,4,3.0,0.1231333011778428,0.05,2358937.679871344,...,50.0,0.0014489506956984952,0,1,0.001329001271623277,0,1,0.03581165554192436,23126.877525539516,1
9,1679943834,0.2638873132561004,2,3316070.0277271145,209715200,4,3.0,0.12667895360002251,0.05,3434235.4541605655,...,50.0,0.00130193897607463,0,1,0.001329001271623277,0,1,0.03742308877214597,26191.02255335136,1
10,1679943835,0.4190766639174297,2,3461095.010213086,209715200,4,3.0,0.1303130941842803,0.05,3551054.0816543307,...,50.0,0.0012921541766055052,0,1,0.0007621094796903284,0,1,0.03763889047182999,26394.60830973294,1
11,1679943836,0.43749187507617343,2,3606119.992699058,209715200,4,3.0,0.13385874660646008,0.05,3683162.099540198,...,50.0,0.0012823693771363805,0,1,0.0007621094796903284,0,1,0.04357426386761909,30063.238980039878,1
12,1679943837,0.4560292222727627,2,5481884.910390805,209715200,4,3.0,0.1374289471945635,0.05,3800378.106935254,...,50.0,0.0012725845776672556,0,1,0.0007621094796903284,0,1,0.0437900655673031,30266.82473642146,1
13,1679943838,0.8307311049103884,2,5712857.471524614,209715200,4,3.0,0.14103670095304374,0.05,3917594.114330309,...,50.0,0.001262799778198131,0,1,0.0007621094796903284,0,1,0.044005867266987124,30470.410492803043,1
14,1679943839,1.022433003283464,2,5981164.587209811,209715200,4,3.0,0.1446550736585825,0.05,4510971.088857534,...,50.0,0.001253014978729006,0,1,0.0007621094796903284,0,1,0.04404795095230527,30673.996249184624,1
15,1679943840,1.0645373530404068,2,17056255.868821096,209715200,4,3.0,0.14820161098131168,0.05,5588767.938487395,...,50.0,0.0012432301792598814,0,1,0.0007621094796903284,0,1,0.04425175679421448,30877.582005566204,1
16,1679943841,1.106641702797349,2,20885724.73220855,209715200,4,3.0,0.20545938825227278,0.05,5793223.258085568,...,50.0,0.0010038214904928647,0,1,0.0007621094796903284,0,1,0.0444555626361237,31081.167761947785,1
17,1679943842,1.1487460525542916,2,21177576.368676603,209715200,4,3.0,0.2108068923816647,0.05,5629310.333328988,...,50.0,0.0010172428000825634,0,1,0.0007621094796903284,0,1,0.04465936847803291,31284.75351832937,1
18,1679943843,1.1910089438064733,2,21832996.07975823,209715200,4,3.0,0.24407882442744155,0.05,5778749.8757189,...,50.0,0.0006786510563707637,0,1,0.0007621094796903284,0,1,0.059328272048555536,33371.76549185674,1
19,1679943844,1.2330843945106291,2,22488415.790839847,209715200,4,3.0,0.25014799666267606,0.05,5938261.209310048,...,50.0,0.0007018571654295872,0,1,0.0007621094796903284,0,1,0.08145948479084633,36393.80330152469,1
20,1679943845,1.2751860431690776,2,24357426.045838516,209715200,4,3.0,0.2562171688979106,0.05,6098551.906025178,...,50.0,0.0007250632744884107,0,1,0.0007621094796903284,0,1,0.08167528649053035,36597.38905790627,1
21,1679943846,1.3172876918275263,2,25038827.139664363,209715200,4,3.0,0.2622863411331451,0.05,6242411.3222550545,...,50.0,0.0007482693835472341,0,1,0.0007621094796903284,0,1,0.08189108819021437,36800.97481428785,1
22,1679943847,1.8607407058956495,2,25726752.35134649,209715200,4,3.0,0.27321188659099366,0.25,7341411.279702323,...,50.0,0.0007714754926060577,0,1,0.0007621094796903284,0,1,0.08176290198060206,36680.04487499719,1
23,1679943848,1.918672359576207,2,26414677.563028622,209715200,4,3.0,0.2924343309675464,0.25,7537817.530882095,...,50.0,0.0007946816016648811,0,1,0,0,1,0.08154710028091804,36476.4591186156,1
24,1679943849,1.9766040132567644,2,29391446.940143418,209715200,4,3.0,0.3002229795325535,0.25,8260975.780733851,...,50.0,0.0008178877107237046,0,1,0.005174809851086908,1556.024430332306,1,0.09261866889832605,37765.4197153111,1
25,1679943850,3.2722719249256245,2,30148835.242337547,209715200,4,3.0,0.3060776415672543,0.25,8449222.37153387,...,50.0,0.0008410938197825281,0,1,0.005174809851086908,1556.024430332306,1,0.09240286719864205,37561.83395892952,1
26,1679943851,3.229678963803271,2,30906223.544531677,209715200,4,3.0,0.3140844829248923,0.25,8637468.962333892,...,50.0,0.0034634417843991314,929.3671862591609,1,0.005174809851086908,1556.024430332306,1,0.09218706549895803,37358.24820254794,1
27,1679943852,4.446872885056351,2,40291543.2347595,209715200,4,3.0,0.32193922812371606,0.25,8825715.55313391,...,50.0,0.003486647893457955,929.3671862591609,1,0.005174809851086908,1556.024430332306,1,0.08429251494176886,30391.800164714576,1
28,1679943853,4.548778358401185,2,40045586.90365596,209715200,4,3.0,0.3070216971666523,0.25,9043702.030357271,...,50.0,0.003509854002516778,929.3671862591609,1,0.005174809851086908,1556.024430332306,1,0.08407671324208484,30188.214408332995,1

/tmp/ipykernel_7409/1997905888.py:98: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  success_rate.append(success_data_dic, ignore_index=True)

,approach,total_users,processed_users
0,no+keda,"Int64Index([ 0, 1, 2, 3, 4, 5, 6, 7, 8...","Int64Index([ 0, 1, 2, 3, 4, 5, 6, 7, 8..."